:root{
    background-color:white;
}



.btn{
    border-radius: 4px;
    font-size: 30px;
    padding: 25px 0;
    width: 420px;
    text-align: center;
    margin-bottom: 16px;
    text-decoration: none;
    color: black;
    background: linear-gradient( white 0%, purple 100%);
}

#highscore-btn{
    background: linear-gradient(white 0%, purple 100%);

}



.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.btn:hover{
    cursor:pointer;
    box-shadow:yellowgreen;
    transition: transform 150ms;
    transform: scale(1.2);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: georgia, helvetica, times;

}

h1{
    font-size:xx-large;
    color:black;
    margin-bottom: 84px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0;
    padding: 28px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;

}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden{
    display: none;
}