body,html{
    font-family: Georgia, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}



.game-box{
    background: red;
    width: 1200px;
    min-height: 500px;
}
.answer-item{
    background: blue;
    width: 200%;
    display: inline-block;
    border-radius:8px;
    padding: 5px;
}
#btn-start{
    border:none;
        padding:6px 0 6px 0;
        border-radius:8px;
        background:red;
    font:bold 40px;
        color:#fff;
}

.code-title{
    background-color: red;
    justify-content: center;
    flex-wrap: nowrap;

}

#info{
    font-size: 30px;
}
.game-box{
    background:rgba(0, 0, 0, .6);
    color: white;
}
.btn-primary{
    background-color: red!important;
    border: none!important;
    padding: 5px 5px;
    border-radius: 5px; 
}